<div class="center">

  <h1> Sign up here </h1>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="user.username" type="text" autocomplete="off">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.mail" type="mail" autocomplete="off">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="user.password" type="password" autocomplete="off">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="signUp()"> Submit </button>
  <br>
  <p>
    or
  </p>
  <button mat-raised-button color="accent" [routerLink]="['/login']"> Log in </button>
</div>